.navbar, footer {
  background-color: #2c3e50;
  color: white;
  height: auto;
}

.carousel-item .row {
  height: 45rem;
  box-sizing: border-box;
  padding: 2rem;
}

.rec-carosel-button {
  background-color: #e74c3c;
  border-color: transparent;
  border-radius: 10px;
}

.instructions-wrapper {
  background-image: url("./images/glitterBg.jpg");
  row-gap: 5rem;
}

.instructions-title {
  color: #ecf0f1;
  background-color: rgba(128, 0, 32, 0.7);
}

.instructions-line {
  border-top: 6px solid #800020;
  margin-bottom: 50px;
}

.instructions-line h3 {
  background-color: #800020;
  color: #ecf0f1;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  top: -2rem;
}

.center-dot {
  transform: translateX(-50%);
}

.instruction-text p{
  top: 100px;
}

.steps-desc {
  padding: 0 40px;
  width: 90%;
}

.steps-desc > div {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.7);
}

.example-wrapper {
  background-color: #FEFBEA;
}

.mood-button-wrapper > button {
  border-color: transparent;
  border-radius: 10px;
  background-color: 	#F1C40F;
  color: 	#FEFBEA;
}

.mood-button-wrapper > button:hover {
  background-color: #800020;
}

#moodExample .carousel-item, #recCarosel .carousel-item {
  transition: none !important;
  background-color: #FEFBEA;
  min-height: 400px;
}

.example-image {
  height: 400px;
}

.trailer-link {
  color: #F1C40F;
}

.recents-wrapper {
  background-color: #BDC3C7;
  /* box-sizing: border-box; */
}

label {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

form button {
  border-color: transparent;
  background-color: #BDC3C7;
  color: white;
}

.editor-button-wrapper > button {
  background-color: #F1C40F;
}