.navbar {
    background-color: #2C3E50;
    color: white;
    height: auto;
}

.carousel-item .row {
    height: 45rem;
    box-sizing: border-box;
    padding: 2rem;
}

.rec-carosel-button {
    background-color: #E74C3C;
    border-color: transparent;
    border-radius: 10px;
}
